@import "../abstracts/functions";

$font-family: "Helvetica";
$font-weight-regular: 400;
$font-weight-bolder: 600;
$font-weight-bold: 700;
$base-font-size: 16px;
$h1-size: getRelativeFontSize(32);
$h2-size: getRelativeFontSize(24);
$h3-size: getRelativeFontSize(20);
$xlarge-size: getRelativeFontSize(18);
$large-size: getRelativeFontSize(16);
$normal-size: getRelativeFontSize(14);
$small-size: getRelativeFontSize(12);
